In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
#Creating the webpage object and extracting the text within in the object directly
webPage = requests.get("https://en.wikipedia.org/wiki/List_of_neighborhoods_in_San_Francisco").text
soup = BeautifulSoup(webPage)

In [3]:
#you can check the class you are searching for using inspect-element
headlines = soup.find_all(class_='mw-headline') 
#The first 4 headlines are not required for the neighbourhood name
headlines = headlines[:-4]

In [4]:
sanfran_neighbourhood=[]
for headline in headlines:
    sanfran_neighbourhood.append(headline.text)
print(len(sanfran_neighbourhood))
sanfran_neighbourhood[0:5]

119

['Alamo Square',
 'Anza Vista',
 'Ashbury Heights',
 'Balboa Park',
 'Balboa Terrace']

In [5]:
df_sf = pd.DataFrame(sanfran_neighbourhood)

In [6]:
df_sf.head()

                 0
0     Alamo Square
1       Anza Vista
2  Ashbury Heights
3      Balboa Park
4   Balboa Terrace